# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Sensitive / environment
*.env
Secrets.plist

# Editor
.vscode/
*.swp
*.swo
